<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
                http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="io" class="com.sg.floormaster.ui.UserIOConsoleImpl"/>

    <bean id="orderDao" class="com.sg.floormaster.dao.OrderDaoImpl"/>
    <bean id="productDao" class="com.sg.floormaster.dao.ProductDaoImpl"/>
    <bean id="taxDao" class="com.sg.floormaster.dao.TaxDaoImpl"/>


    <bean id="orderView" class="com.sg.floormaster.ui.OrderView">
        <constructor-arg ref="io"/>
    </bean>

    <bean id="orderService" class="com.sg.floormaster.service.OrderServiceImpl">
        <constructor-arg ref="dao"/>
    </bean>

    <bean id="orderController" class="com.sg.floormaster.controller.OrderController">
        <constructor-arg ref="service"/>
        <constructor-arg ref="view"/>
    </bean>


</beans>

